---
import Layout from '../layouts/Layout.astro';
import Top from '../components/Top.vue';
import "../styles/global.css";
import { Image } from 'astro:assets';
import wahoot from '../assets/img/wahoot.png';
import avatar from '../assets/img/avatar.png';
import { Icon } from 'astro-icon/components';
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);
---

<Layout title="eitaar.dev" loadNavBar=false>
    <Image src={wahoot} alt="Wahoot" class="absolute opacity-60 IMG h-screen object-cover"/> 
    <Top class="absolute">
        <Icon name="mdi:github" slot="githubIcon" class="absolute" width={'100%'} height={'100%'}/>
        <p class="link text-3xl lg:text-5xl" slot="AboutLink" id="aboutLink">About</p>
        <p class="link text-3xl lg:text-5xl" slot="ProjectLink" id="projectLink">Projects</p>
    </Top>
    <!-- Add extra space at the bottom -->
    <h2 class="text-center text-5xl font-bold font-Quantico link ABOUT h-1/2 my-4">About</h2>
    <div class="w-9/10 mx-auto flex flex-row lg:flex-col items-center justify-start gap-1 lg:gap-2 flex-wrap h-[80vh]">
      <!-- cards -->
      <div class="bg-base-200 w-full lg:w-11/20 rounded-lg">
        <div class="flex gap-3 py-4 px-4 flex-col lg:flex-row justify-start items-center lg:items-start ">
          <Image src={avatar} alt="Avatar" class="rounded-lg lg:w-1/7 max-w-[12.5vw] min-w-[10vmax] lg:min-w-[10vmin] shadow-lg" />
          <div class="my-auto">
            <div class="flex flex-col items-start justify-start flex-wrap">
              <h1 class="font-Quantico text-6xl lg:text-4xl font-bold tracking-tighter">eitaar</h1>
              <h2 class="font-Quantico text-3xl lg:text-2xl tracking-tighter text-base-content/70 mx-auto">student?</h2>
            </div>
          </div>
          <div class="divider lg:divider-horizontal my-0 mx-0"></div>
          <div class="break-all font-Quantico text-2xl lg:text-md text-center lg:text-left h-full w-full tracking-tighter">
            <p>16 | Coding beginner</p>
            <p>UTC TIME ZONE</p>
            <p>Learning front-end languages</p>
          </div>            
        </div>
      </div>

      <div class="bg-base-200 w-full lg:w-11/20 rounded-lg">
        <div class="flex gap-3 py-4 px-4 flex-col justify-start items-center lg:items-start ">
          <h1 class="text-3xl font-bold font-Quantico text-center w-full link">Skills</h1>
          <div class="flex flex-wrap flex-row gap-2 items-center justify-center w-full">
            <img src="https://go-skill-icons.vercel.app/api/icons?i=js" alt="JavaScript Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=nuxt" alt="Nuxt.js Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=vue" alt="Vue.js Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=astro" alt="Astro Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=html" alt="HTML Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=css" alt="CSS Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=tailwind" alt="Tailwind CSS Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=python" alt="Python Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=md" alt="Markdown Logo" loading="lazy"/>
          </div>
        </div>
      </div>

      <div class="bg-base-200 w-full lg:w-11/20 rounded-lg">
        <div class="flex gap-3 py-4 px-4 flex-col justify-start items-center lg:items-start ">
          <h1 class="text-3xl font-bold font-Quantico text-center w-full link">Interests</h1>
          <div class="flex flex-wrap flex-row gap-2 items-center justify-center w-full">
            <img src="https://go-skill-icons.vercel.app/api/icons?i=ts" alt="TypeScript Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=arduino" alt="Arduino Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=cpp" alt="C++ Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=rust" alt="Rust Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=blender" alt="Blender Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=flutter" alt="Flutter Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=java" alt="Java Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=p5js" alt="p5.js Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=threejs" alt="Three.js Logo" loading="lazy"/>
            <img src="https://go-skill-icons.vercel.app/api/icons?i=react" alt="React Logo" loading="lazy"/>
          </div>
        </div>
    </div>
</Layout>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
import { ScrollToPlugin } from "gsap/ScrollToPlugin";
gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);

console.log("using GSAP: ", gsap.version);

//scrolls to the top of the page on refresh
history.scrollRestoration = "manual";
window.addEventListener('beforeunload', () => { 
  window.scrollTo(0, 0);
});

// Animate the .TOP element
if (window.innerWidth > 1024) {
  gsap.to('.TOP', {
    x: '-40vw',
    scrollTrigger: {
      trigger: '.TOP',
      start: 'top+=1vh top',
      end: 'bottom top',
      markers: false,
      scrub: true,
      pin: true,
    }
  });
} else {
  gsap.to('.TOP', {
    x: '0vw',
    scrollTrigger: {
      trigger: '.TOP',
      start: 'top+=1vh top',
      end: 'bottom top',
      markers: false,
      scrub: true,
      pin: true,
    }
  });
}

function scrollToAbout() {
  const target = document.querySelector('.ABOUT');
  if (target) {
    gsap.to(window, { duration: 0.125, scrollTo: { y: target } });
  } else {
    console.error('Element with class .ABOUT not found');
  }
}

function scrollToProjects() {
  const target = document.querySelector('.PROJECTS');
  if (target) {
    gsap.to(window, { duration: 0.25, scrollTo: { y: target } });
  } else {
    console.error('Element with class .PROJECTS not found');
  }
}

// Attach the click event listener to the link
document.addEventListener('DOMContentLoaded', () => {
  const plink = document.getElementById('projectLink');
  const alink = document.getElementById('aboutLink');
  if (plink && alink) {
    plink.addEventListener('click', scrollToProjects);
    alink.addEventListener('click', scrollToAbout);
  } else {
    console.error('err');
  }
});
</script>