---
import Layout from '../layouts/Layout.astro';
import Top from '../components/Top.vue';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Interests from '../components/Interests.astro';
import Stats from '../components/stats.vue';
import Pixi from '../components/Pixi.vue';
import "../styles/global.css";
import { Icon } from 'astro-icon/components';

---

<Layout title="eitaar.dev" loadNavBar=false>
    <Pixi client:idle/>
    <Top class="absolute">
        <Icon name="mdi:github" slot="githubIcon" class="absolute" width={'100%'} height={'100%'}/>
        <p class="link text-3xl lg:text-5xl font-bold tracking-tighter my-1" slot="AboutLink" id="aboutLink">About</p>
        <p class="link text-3xl lg:text-5xl font-bold tracking-tighter my-1" slot="ProjectLink" id="projectLink">Projects</p>
    </Top>

    <div class="w-9/10 mx-auto flex flex-row lg:flex-col items-center justify-start gap-1 lg:gap-2 flex-wrap lg:min-h-screen">
      <h2 class="text-center text-5xl font-bold font-Quantico link ABOUT my-4 w-full">About</h2>
      <!-- cards -->
      <About />
      <Skills />
      <Interests />
      <Stats client:visible/>
    </div>
    <div class="w-full h-screen">
      <h2 class="text-center text-5xl font-bold font-Quantico link PROJECTS my-4 w-full">Projects</h2>
      </div>
    </div>
</Layout>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
import { ScrollToPlugin } from "gsap/ScrollToPlugin";
import { createPixi } from '../assets/src/top.ts'
gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);

console.log("using GSAP: ", gsap.version);

//scrolls to the top of the page on refresh
history.scrollRestoration = "manual";
window.addEventListener('beforeunload', () => { 
  window.scrollTo(0, 0);
});

// Animate the .TOP element
if (window.innerWidth > 1024) {
  gsap.to('.TOP', {
    x: '-40vw',
    scrollTrigger: {
      trigger: '.TOP',
      start: 'top+=1vh top',
      end: 'bottom top',
      markers: false,
      scrub: true,
      pin: true,
    }
  });
} else {
}

function scrollToAbout() {
  const target = document.querySelector('.ABOUT');
  if (target) {
    gsap.to(window, { duration: 0.125, scrollTo: { y: target } });
  } else {
    console.error('Element with class .ABOUT not found');
  }
}

function scrollToProjects() {
  const target = document.querySelector('.PROJECTS');
  if (target) {
    gsap.to(window, { duration: 0.25, scrollTo: { y: target } });
  } else {
    console.error('Element with class .PROJECTS not found');
  }
}

// Attach the click event listener to the link
document.addEventListener('DOMContentLoaded', () => {
  const plink = document.getElementById('projectLink');
  const alink = document.getElementById('aboutLink');
  if (plink && alink) {
    plink.addEventListener('click', scrollToProjects);
    alink.addEventListener('click', scrollToAbout);
  } else {
    console.error('err');
  }
});
</script>