---
import Layout from '../layouts/Layout.astro';
import Top from '../components/Top.vue';
import "../styles/global.css";
import { Image } from 'astro:assets';
import wahoot from '../assets/img/wahoot.png';
import avatar from '../assets/img/avatar.png';
import { Icon } from 'astro-icon/components';
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);
---

<Layout title="eitaar.dev" loadNavBar=false>
    <Image src={wahoot} alt="Wahoot" class="absolute opacity-60 IMG h-screen object-cover"/> 
    <Top class="absolute">
        <Icon name="mdi:github" slot="githubIcon" class="absolute" width={'100%'} height={'100%'}/>
        <p class="link" slot="AboutLink" id="aboutLink">About</p>
        <p class="link" slot="ProjectLink" id="projectLink">Projects</p>
    </Top>
    <!-- Add extra space at the bottom -->
    <h2 class="text-center text-[3.5vw] font-bold font-Quantico link ABOUT h-1/2">About</h2>
    <div class="w-9/10 mx-auto">
      <div class="hero bg-base-200 w-full lg:w-1/3 h-[85vh] rounded-md">
        <div class="hero-content flex-row justify-start w-full h-full items-center lg:items-start">
          <Image src={avatar} alt="Avatar" class="rounded-lg w-1/4 max-w-[15vw] self-start shadow-md" />
          <div class="self-baseline">
            <h1 class="font-Quantico text-3xl font-bold tracking-tighter">eitaar</h1>
            <h3 class="font-Quantico text-2xl font-bold tracking-tighter">16</h3>
          </div>
        </div>
      </div>
    </div>
</Layout>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
import { ScrollToPlugin } from "gsap/ScrollToPlugin";
gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);

console.log("using GSAP: ", gsap.version);

//scrolls to the top of the page on refresh
history.scrollRestoration = "manual";
window.addEventListener('beforeunload', () => {
  window.scrollTo(0, 0);
});

// Animate the .TOP element
gsap.to('.TOP', {
  x: '-40vw',
  scrollTrigger: {
    trigger: '.TOP',
    start: 'top+=1vh top',
    end: 'bottom top',
    markers: false,
    scrub: true,
    pin: true,
  }
});

function scrollToAbout() {
  const target = document.querySelector('.ABOUT');
  if (target) {
    gsap.to(window, { duration: 0.125, scrollTo: { y: target } });
  } else {
    console.error('Element with class .ABOUT not found');
  }
}

function scrollToProjects() {
  const target = document.querySelector('.PROJECTS');
  if (target) {
    gsap.to(window, { duration: 0.25, scrollTo: { y: target } });
  } else {
    console.error('Element with class .PROJECTS not found');
  }
}

// Attach the click event listener to the link
document.addEventListener('DOMContentLoaded', () => {
  const plink = document.getElementById('projectLink');
  const alink = document.getElementById('aboutLink');
  if (plink && alink) {
    plink.addEventListener('click', scrollToProjects);
    alink.addEventListener('click', scrollToAbout);
  } else {
    console.error('err');
  }
});
</script>