<div class="bg-base-200 rounded-lg flex-1">
  <div class="flex gap-3 py-4 px-4 flex-col justify-center items-center h-full">
    <div class="flex flex-wrap flex-row gap-2 items-center justify-center w-full">
      <img src="https://discord.c99.nl/widget/theme-5/1064617191175114943.png" alt="Discord" class="w-full h-auto" loading="lazy" />
    </div>
  </div>
</div>