<div class="border-[1.5px] border-base-300 rounded-lg flex-1">
  <div class="flex gap-3 py-4 px-4 flex-col justify-center items-center h-full">
    <h1 class="text-3xl font-bold font-Quantico text-center w-full link">Interests</h1>
    <div class="flex flex-wrap flex-row gap-2 items-center justify-center w-full">
      <img src="https://go-skill-icons.vercel.app/api/icons?i=ts" alt="TypeScript Logo" loading="lazy"/>
      <img src="https://go-skill-icons.vercel.app/api/icons?i=arduino" alt="Arduino Logo" loading="lazy"/>
      <img src="https://go-skill-icons.vercel.app/api/icons?i=cpp" alt="C++ Logo" loading="lazy"/>
      <img src="https://go-skill-icons.vercel.app/api/icons?i=rust" alt="Rust Logo" loading="lazy"/>
      <img src="https://go-skill-icons.vercel.app/api/icons?i=blender" alt="Blender Logo" loading="lazy"/>
      <img src="https://go-skill-icons.vercel.app/api/icons?i=flutter" alt="Flutter Logo" loading="lazy"/>
      <img src="https://go-skill-icons.vercel.app/api/icons?i=java" alt="Java Logo" loading="lazy"/>
      <img src="https://go-skill-icons.vercel.app/api/icons?i=p5js" alt="p5.js Logo" loading="lazy"/>
      <img src="https://go-skill-icons.vercel.app/api/icons?i=threejs" alt="Three.js Logo" loading="lazy"/>
      <img src="https://go-skill-icons.vercel.app/api/icons?i=react" alt="React Logo" loading="lazy"/>
    </div>
  </div>
</div>