---
import Default from './Default.vue';
const {title} = Astro.props;
---

<html lang="en">
  <head>
    <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "corporate");
      } else
        document.documentElement.setAttribute("data-theme",localStorage.getItem("theme"));
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
  </head>
  <body>
			<Default />
      <slot />
  </body>
</html>	

